In [6]:
#> --- Imports --- <#

import pandas as pd
import csv

In [7]:
#> --- Reading and Repersenting the Dataset --- <#
data_frame = pd.read_csv(r'..\data\raw\transactions_dataset_v3.csv')
index_list=[i for i in range(1,len(data_frame)+1)]
data_frame.index=index_list
raw_data_amount=len(data_frame)

data_frame.iloc[:5,] #> Showing some part of te dataframe

,Time,Date,Sender_account,Receiver_account,Amount,Payment_currency,Received_currency,Sender_bank_location,Receiver_bank_location,Payment_type,Is_laundering
1,00:00:00,2024-01-01,75682867,78548252,20654.26,UK pounds,UK pounds,Turkey,India,ACH,1
2,00:01:00,2024-01-01,66755036,60373415,56453.82,US dollar,US dollar,UAE,Pakistan,Cross-border,1
3,00:02:00,2024-01-01,66882282,39679610,3301.28,Indian rupee,Indian rupee,Morocco,Italy,Cheque,0
4,00:03:00,2024-01-01,31081788,46161210,7848.25,Euro,Euro,India,Austria,Cross-border,0
5,00:04:00,2024-01-01,23315092,63958064,52097.64,Mexican peso,Mexican peso,Nigeria,Mexico,Cross-border,1

In [8]:
#> --- Data Cleaning (First Stage) --- <#

del data_frame["Date"], data_frame["Sender_account"], data_frame["Receiver_account"]

print("The amount of 1: ", len(data_frame[data_frame['Is_laundering']==1]))
print("The amount of 0: ", len(data_frame[data_frame['Is_laundering']==0]))
print("Total amount of rows: ", len(data_frame))
print("Amount of not NAN rows: ", len(data_frame.dropna()))

The amount of 1:  119848
The amount of 0:  280152
Total amount of rows:  400000
Amount of not NAN rows:  400000

In [9]:
#> --- Data Cleaning (Second Stage) --- <#

# --- Convert string to datetime first ---
data_frame["Time"] = pd.to_datetime(data_frame["Time"], format="%H:%M:%S")
# --- Extract hour ---
data_frame["Time"] = data_frame["Time"].dt.hour

data_frame.iloc[:8,]

,Time,Amount,Payment_currency,Received_currency,Sender_bank_location,Receiver_bank_location,Payment_type,Is_laundering
1,0,20654.26,UK pounds,UK pounds,Turkey,India,ACH,1
2,0,56453.82,US dollar,US dollar,UAE,Pakistan,Cross-border,1
3,0,3301.28,Indian rupee,Indian rupee,Morocco,Italy,Cheque,0
4,0,7848.25,Euro,Euro,India,Austria,Cross-border,0
5,0,52097.64,Mexican peso,Mexican peso,Nigeria,Mexico,Cross-border,1
6,0,42638.56,Yen,Yen,Morocco,Mexico,Cross-border,1
7,0,7624.38,Dirham,Dirham,Pakistan,Mexico,Debit card,0
8,0,45886.90,Swiss franc,Swiss franc,Turkey,USA,ACH,1

In [10]:
#> --- Saving the Processed Dataset --- <#

data_frame.to_csv(r'..\data\processed\processed_transactions_dataset_v3.csv', index=False)
print("Processed Dataset File has been saved.")

Processed Dataset File has been saved.